/*页脚*/
.footer {
    width: 100%;
    margin-top: 22px;
    background-color: #323232;
    color: #B3B5BA;
    padding-top: 20px;
    overflow: hidden;
}
.footer_content {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.footer_content_left {
    width: 50%;
    float: left;
}
.footer_content_left .logos {
    height: 60px;
    line-height: 60px;
}
.footer_content_left .links {
    margin-bottom: 27px;
}
.footer_content_left .links a {
    font-size: 14px;
    color: #B3B5BA;

}
.copyright {
    margin-bottom: 27px;
    font-size: 12px;
    color: #B3B5BA;
}
.footer_content_right {
    width: 50%;
    overflow: hidden;
}
.servicemethod {
    float: left;
    font-size: 14px;
    line-height: 45px;
}
.gongzhonghao {
    overflow: hidden;
}
.gongzhonghao div {
    text-align: center;
    display: inline-block;
    float: left;
}
.xinlang {
    margin-right: 10px;
    margin-left: 105px;
}
.gongzhonghao div img {
    width: 100px;
    height: 100px;
}
.gongzhonghao div p {
    font-size: 14px;
}
