.container {
	margin-bottom: 55px;
}
.container .wrap {
	width: 920px;
	float: left;
	margin-left: 20px;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	padding-left: 16px;
}
.shop_details {
	border-bottom: 1px solid #E6E6E6;
	margin-top: 22px;
	margin-bottom: 15px;
}
.car_details_title {
	display: inline-block;
	text-align: center;
	padding-bottom: 12px;
	border-bottom: 1px solid #FF5256;
	font-size: 16px;
	color: #959595;
	box-sizing: border-box;
}
.wrap table {
	width: 897px;
	font-size: 14px;
	color: #9999A5;
	margin-bottom: 31px;
	border: 1px solid #E6E6E6;
}
.wrap table a {
	color: #9999A5;
}
.wrap table tr {
	height: 56px;
	border-top: 1px solid #F2F2F2;
}
.wrap table td:first-child {
	text-indent: 10px;
}
.wrap table td:nth-child(8) {
	padding-left: 15px;
}
.wrap table tr:nth-child(odd) {
	background-color: #F2F2F2;
}
.odd {
	background-color: #F2F2F2;
}
.wrap table tr.table_head {
	border: none;
	background-color: #FFF4EC;
	color: #5E5E5E;
}
.wrap table tr.end {
	color: #CBCBCB;
}
iframe {
	border: 1px solid #E6E6E6;
}
